/* default setting */
*{
    margin: 0;
    padding: 0;
  }
  
  
  body{
    font-family: 'Thasadith', sans-serif ;
  }
  
  textarea:focus, input:focus{
      outline: none;
  }

  /* Container desing */
  
  .container{
    width: 100%;
    height: auto;
    background: url("map.jpg") center;
    padding: 30px 0 30px 0;
  }
  
  .contact_form{
    width: 35%;
    height: auto;
    display: block;
    padding: 20px;
    margin: 0 auto;
    background: #FA6666;
    color: white;
    border-radius: 5px;
    box-shadow: 9px 5px 18px 1px #0000006b;
  }
  
  /* Container Header desing */
  .contact_form h2{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    
  }
  

  /* Container form desing */
  .contact_form input{
    width: 100%;
    color: white;
    background: #FA6666;
    border: none;
    transition: all .3s;

  }
  
  .blankdiv{
    height: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
  }
  
  .contact_form input:focus{
    color: white;
    border: none;
  }
  
  .border-spn{
    width: 100%;
    display:block;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
  }
  
  #sendbtn{
    display: block;
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    border: none;
    color: white;
    border-radius: 5px;
    transform: skew(-20deg);
    background: #333333;
    transition: all .3s;
  }
  
  #sendbtn:hover{
    cursor: pointer;
    background: #292929
  }
  